
<footer class="text-center text-white" style="background-color: black;">

    <div class="container formdiv p-4 pb-0">
        <form action="">
            <div class="d-flex col-md-12 col-xs-12 col-12 justify-content-center">
                <div class="form-outline mb-2">
                    <input type="email" id="form5Example25" class="form-control" placeholder="For updates Subscribe your mail" />
                </div>
                <div class="mx-3 mb-2 mb-md-0">
                    <button type="submit" class="btn btn-primary mb-2">
                        Subscribe
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-whatsapp"></i
        ></a>

  
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
      </section>
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" style="text-decoration: none;" href="https://mdbootstrap.com/">www.Kaappishop.com</a>
    </div>
    
  </footer>