
.custom-e{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: larger;
}
nav{
  color: black;
  height: 70px;
}

.nav-link{
  font-size: large;
}

.nav-link-underline {
  position: relative;
  text-decoration: none;
}

.nav-link-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

// .nav-link-underline.active::before {
//   background-color: #000000;
//   transform: scaleX(1);
//   transform-origin: bottom left;
// }

.nav-link-underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
