<div>
    <div class="container-fluid" style="width: 100%; ">
        <section class="full-page-image">
            <div class="quote">
                <blockquote class="blockquote">
                    <p class="quote-cof mb-0">"The best coffee in town."</p>
                    <footer class="blockquote-footer text-dark">- Coffee Lover</footer>
                </blockquote>
            </div>
      </section>      
    </div>
    <div class="container-fluid" style="background-color: black; color: white;">
        <section class="two-rows">
            <div class="row">
              <div class="col-md-6 mt-5">
                <img src="/assets/Coffee/cup-of-cofee.jpeg" alt="Image 1" style="height: 300px; width: 100%;">
              </div>
              <div class="col-md-6 mt-5">
                <h3>Coffee Heaven</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
              </div>
            </div>
            <div class="row mt-5 mb-4">
                <div class="col-md-6 mt-5">
                    <h3>Discover the <br>
                        taste of Real Coffee!!</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
                </div>
                <div class="col-md-6 mb-5">
                    <img src="/assets/Coffee/whitecup-coffee.jpeg" alt="Image 1" style="height: 300px; width: 100%; ">
                </div>
            </div>
        </section>          
    </div>
    <div class="justify-content-center" style="width: 100%; height: 100vh;">
        <section class="customer-reviews">
            <div class="container">
              <h1 class="text-center mb-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">What Our Customers Say</h1>
              <div id="customer-review-slider" style="width: 100%; height: 70%;">
                <div id="carouselExampleDark" class="carousel carousel-light slide carousel-fade mt-5" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="2000">
                        <img src="../assets/Coffee/customer2.jpeg" class="d-block w-100 " style="width: 50%; height: 500px;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2>First slide label</h2>
                          <h4>"Some representative placeholder content for the first slide."</h4>
                          <div class="text-warning">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../assets/Coffee/customer1.jpeg" class="d-block w-100" style="width: 50%; height: 500px;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2>Second slide label</h2>
                          <h4>"Some representative placeholder content for the first slide."</h4>
                          <div class="text-warning">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../assets/Coffee/customer3.jpeg" class="d-block w-100" style="width: 50%; height: 500px;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2>Third slide label</h2>
                          <h4>"Some representative placeholder content for the first slide."</h4>
                          <div class="text-warning">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
              </div>
            </div>
        </section>  
    </div>
    
</div>




