.full-page-image {
    background-image: url('/assets/Coffee/coffee-beans-levitate-white-background.jpeg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .quote {
    text-align: center;
  }
  
  .quote-cof{
    // color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 500%;
  }